@import "mixins";

@import "fonts";

$fontFamily: "Crimson Pro";
$fontSize: 18px;

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #333;
$white: #fff;
$accent: #906339;
// $accent: #f8e913;
$grey: #e3dbd8;
//</
@import "null";
body {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
  color: $mainColor;
  &._lock {
    overflow: hidden;
  }
}

.call-back{
position: fixed;
right: 20px;
bottom: 20px;
font-size: 0;
width: 50px;
height: 50px;
border-radius: 50%;
z-index: 99;
background-image: url('../img/icons/call.svg');
animation-name: call;
animation-duration: 2s;
animation-iteration-count: infinite;
}

@keyframes call {
  0%{
    rotate: 0deg;
  }
  50%{
    rotate: 45deg;
  }
  100%{
    rotate: 0deg;
  }
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.sr-only {
  overflow: hidden;
  width: 0;
  height: 0px;
  font-size: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  // &._loaded {
  // }
}

@import "forms";
@import "libs";
@import "ui";

@import "popup";
@import "header";
@import "components/_smm";
@import "components/_about";
@import "components/_skills";
@import "components/_portfolio";
@import "components/_services";
@import "components/_price";
@import "components/_contact";
@import "footer";
@import "home";

.title {
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  

  @include media(768px) {
    font-size: 32px;
  }
  &::before {
    content: "|";
    color: #906339;
    position: absolute;
    right: -20px;
    top: 0;
    transform: translateX(-50%);
    z-index: 0;
    animation-name: btitle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}
@keyframes btitle {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0.2) translate(-400%, 0%);
    transform: rotateX(0deg);
  }
  50% {
    opacity: 1;
    transform-origin: 50% 0%;
    transform: scale(1) translate(200%, 0%);
    transform: rotateX(90deg);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: scale(0.2) translate(-400%, 0%);
    transform: rotateX(0deg);
  }
}
.btn {
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 20px;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, .4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.btn:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid #906339d9;
  border-top: 1px solid #906339d9;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.btn:after {
  top: 0;
  right: 0;
  border-right: 1px solid #906339d9;
  border-bottom: 1px solid #906339d9;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
.btn:hover:before, 
.btn:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.btn:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
.btn:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
.btn:hover {
  background: rgba(196, 165, 136, 0.4);
}

.thanks{
  margin-bottom: 300px;
}

.page {
  flex: 1 1 auto;
}
