.about {
  padding: 100px 0;
  @include media(768px) {
    margin-bottom: 40px;
    padding: 65px 0;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(768px){
      flex-wrap: wrap;
    }
  }
  &__img {
    display: block;
    max-width: 500px;
    width: 100%;
    object-fit: cover;
    padding: 0 20px;
    @include media(768px){
      margin-bottom: 25px;
      padding: 0;
    }
  }
  &__content {
    max-width: 500px;
    width: 100%;
  }
  &__text:not(:last-child) {
    margin-bottom: 30px;
  }
}
