.contact {
  padding: 100px 0;
  
  background-color: $grey;
  @include media(768px){
    padding: 65px 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    @include media(1200px) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__title-up{
    text-transform: uppercase;
  }
  &__address {
    max-width: 530px;
    width: 100%;
    font-size: 24px;
    line-height: 160%;
    font-style: normal;
    margin-right: 20px;
    @include media(1200px) {
      display: block;
      margin-bottom: 50px;
    }
  }
  &__list {
    padding: 30px 0 20px;
  }
  &__item {
    margin-bottom: 15px;
  }
  &__link{
    color: #333;

  }
  &__social {
    display: flex;
  }
  &__social-item {
    margin-right: 20px;
    width: 45px;
    height: 45px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__social-link {
    font-size: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 45px;
      height: 45px;
      top: 0;
      left: 0;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom center;
    }
    &--instagram::before {
      background-image: url("../img/icons/instagram.svg");
    }
   
    &--telegram::before {
      background-image: url("../img/icons/telegram.svg");
    }
  }
}

.form {
  max-width: 540px;
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
    @include media(479px) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__label {
    font-weight: 600;
    font-size: 18px;
    max-width: 255px;
    width: 100%;
    margin-right: 10px;
    @include media(479px){
      max-width: 500px;
    }
  }
  &__input {
    background-color: $white;
    padding: 13px 15px;
    margin: 10px 0 30px 0;
    width: 100%;

    &::placeholder {
      font-size: 14px;
      line-height: 130%;
      color: #7e7e8a;
    }
  }
  &__textarea {
    font-weight: 600;
    font-size: 15px;
  }
  &__text {
    width: 100%;
    padding: 13px 15px;
    background-color: $white;
    min-height: 115px;
    max-height: 200px;
    margin-top: 10px;
    resize: vertical;
    margin-bottom: 30px;
    &::placeholder {
      font-size: 14px;
      line-height: 130%;
      color: #7e7e8a;
    }
  }
}
