.skills {
  padding: 100px 0;
  background-color: rgba(255, 193, 7, 0.5);
  @include media(768px) {
    padding: 65px 0;
  }

  &__photo {
    display: block;
    margin-right: 30px;
    max-width: 415px;
    width: 100%;
    object-fit: cover;
    @include media(1200px) {
      margin-bottom: 50px;
    }
    @include media(768px) {
      margin-right: 0;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-weight: 600;

    @include media(768px) {
      padding: 10px;
    }
    @include media(480px) {
    }
  }
  &__item {
    margin-bottom: 15px;
    max-width: 435px;
    width: 100%;
    position: relative;
    list-style: disc;
    @include media(768px) {
      margin-bottom: 10px;
      max-width: 375px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__rating {
    max-width: 600px;
    background-color: $accent;
    height: 32px;
    position: absolute;
    display: block;
    position: absolute;
    left: 64px;
    top: 0;
  }
}
