.smm {
  background-color: $grey;
  padding: 140px 0;
  margin-bottom: 140px;
  
  @include media(768px){
    margin-bottom: 40px;
    padding: 50px 0;
    
  }
  &__text:not(:last-child) {
    margin-bottom: 30px;
  }
}

